// global sass variabls
$font-family-main: "Roboto Mono", sans-serif;

// mixins
@mixin colors {
  // base color
  --color-block-dark: #101010;
  --color-block-bright: #eab990;
  --color-background: #151515;
  --color-text-bright:#c7c7c7;
  --color-text-dark: #161616;
  --color-block-transparent: rgba(236, 208, 187, 0.65);
  --color-block-transparent-actionbar: rgba(15, 22, 26, 0.9);
  --color-text-actionbar: rgba(244, 228, 215, 0.55);
  --color-block-transparent-menu: rgba(15, 22, 26, 0.9);
  --color-text-menu: rgba(244, 228, 215, 0.75);

  --color-block-transparent-statusbar: rgba(236, 208, 187, 0.5);
  --color-text-statusbar: rgba(15, 15, 15, 0.5);

  --shadow-intensity-high: 0 0 8px rgba(80, 80, 80, 0.3); 
  --shadow-intensity-low: 0 0 8px rgba(0, 0, 0, 0.3); 

  // component color
  --color-taskbar-text-bright: #6d6d6d;
  --color-text-footer: #393939;
  --color-border-actionbar: rgba(125, 125, 125, 0.075);
  --color-border-window: rgba(200, 200, 200, 0.1);

  --color-border-light: rgba(255, 255, 255, 0.075);
  --color-border-dark: rgba(100, 100, 100, 0.05);

  // icon color
  --color-icon-primary: rgba(236, 208, 187, 0.95);
  --color-icon-secondary: rgba(75, 90, 104, 0.95);
  --color-icon-action: #454545;
  --color-icon-warn: rgba(255, 92, 92, 0.95);
  --color-icon-dividor: rgba(244, 228, 215, 0.1);
  --color-icon-inner: rgba(255, 255, 255, 0.6);
  --color-icon-inner-dark: rgba(15, 15, 15, 0.75);
  --color-icon-inner-warn: rgba(20, 20, 20, 0.65);

  // APP
  --color-app-default-background: #020202;
  --color-calculator-text-display: rgba(255, 255, 255, 0.7);
  --color-calculator-text-light: #ffffffb8;
}

@mixin mixin-gpu-accelerate {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@mixin mixin-glassblur($blur-value: 1rem) {
  @include mixin-gpu-accelerate;
  backdrop-filter: blur($blur-value);
  -webkit-backdrop-filter: blur($blur-value);
}

@mixin mixin-center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mixin-disable-pointer {
  pointer-events: none;

  & > * {
    pointer-events: all;
  }
}

@mixin mixin-clean-button-style {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: $font-family-main;

  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }

  &:active {
    outline: none;
    border: none;
  }
}

@mixin width-narrow() {
  @media only screen and (max-width: 360px) {
    @content;
  }
}
