$color-block-dark: #101010;
$color-block-bright: #eab990;

$color-text-footer: #393939;
$color-text-bright: #c7c7c7;
$color-text-dark: #2b2b2b;

$color-icon-primary: #f9ca8f;
$color-icon-secondary: #8e8e8e;

$color-button-close: #f9ca8f;

$color-block-transparent: rgba(28, 28, 28, 0.75);

$shadow-block-float: 0rem 0.5rem 1.25rem rgba(0, 0, 0, 0.85);
$shadow-block-down: 0rem 0.5rem 1.25rem rgba(0, 0, 0, 0.45);

$color-terminal-plain: #8e8e8e;
$color-terminal-focus: #f9ca8f;
$color-terminal-desc: #7fc5d0;
$color-terminal-background: #080808;

$color-app-default-background: #080808;

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

@mixin mixin-center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mixin-disable-pointer {
  pointer-events: none;

  & > * {
    pointer-events: all;
  }
}

@mixin mixin-clean-button-style {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;

  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }

  &:active {
    outline: none;
    border: none;
  }
}
