:root {
  --color-block-dark: #{$color-block-dark};
  --color-block-bright: #{$color-block-bright};

  --color-taskbar-text-bright: #{$color-taskbar-text-bright};

  --color-text-bright: #{$color-text-bright};
  --color-text-dark: #{$color-text-dark};
  --color-icon-inner: #{$color-icon-inner};
  --color-icon-inner-dark: #{$color-icon-inner-dark};

  --color-app-default-background: #{$color-app-default-background};
  
  font-size: 16px;
  font-family: $font-family-main;
}

#app {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}
